@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<article>
    <p>
        This is a website I made to practice my ASP.net skills.  I often make improvements to it
        so stay tuned.
    </p>

    <p>
        If you are an ASP developer and would like to give me some advice on how to get better. Please
        send me an email to <a href="mailto:duncan@duncanbridges.com">duncan@duncanbridges.com</a>
    </p>

    <p>
        On the other hand, if you are looking for a junior Developer, and are based in Australia, then please feel free to get in contact with me.
        I am currently based in Melbourne but would love to travel pretty much anywhere around Australia.  My other job relevent skills are
        that I program video games, maintain a number of Wordpress powered sites for businesses in Hobart and speak fluent Japanese.
    </p>
</article>