@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <a class="text-danger" href="mailto:duncan@duncanbridges.com"><strong>duncan@duncanbridges.com</strong></a> <br />
        Please feel free to shoot me an email for any reason.  If you are a prospective employer I would love to talk
        more about my skillset. Currently I am based in Melbourne but would love to travel
        anywhere in Australia for the right opportunity.

    </p>
</section>