@{
    ViewBag.Title = "Personal Movie Catalog";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
               Login, Store and review your recently watched movies.  Catalogue your movie collection easily.
            </p>
        </div>
    </section>
}
<h3>How to use this site:</h3>
<ol class="round">
    <li class="one">
        <h5>Getting Started</h5>
        Click on "Register" in the top right corner and make a new user.
        If you don't want to register You can just click on "My watched movies" to get a sample of how this website works.
        In your movies Database, click the "I watched a movie" button to add a movie.
        </li>

    <li class="two">
        <h5>Add movie details</h5>
        Add relevant details for the movie
        </li>

    <li class="three">
        <h5>Enjoy these Features coming soon: </h5>
        Add a "To Watch" list.
        Share your movie lists with friends.  
        Facebook and Twitter integration.
        Write reviews and impressions of your movies. 
        Add Proper User roles for admin and standard user.       
        </li>
</ol>
